body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 200px;
    overflow: hidden;
}


.header-crop img {
    margin-top: -550px;
}

.header-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.container {
    width: 984px;
    justify-content: left;
}